.top-container{

  background-color: #bbded6;


}
h1{

  margin-top:  0;
  font-family: 'Gloria Hallelujah', cursive;
}
h2{
  font-family: 'Noto Sans JP', sans-serif;
}
h3{
  font-family: 'Noto Sans JP', sans-serif;
}

body{
 margin: 0;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
}
.bottom-cloud{
  position : absolute;
  top : 200px
}
.top-cloud{
  position : absolute;
  top : 55px;
  right : 450px;

}
.top-container{
  padding-top: 100px;
}
.pro{
  text-decoration: underline;
}
.profile-img{
  padding-top:  20px;
}
.Python-img{
  height: 300px;
  width : 300px;
}
